In [3]:
#important features of pandas
# data structures
# data cleaning
# indexing and slicing
# data aggregation
# data transformation
# time series handling
# data visualization
# file i/o

In [7]:
import pandas as pd
li={
    'name':['Anjali','Rahul','Ravi','Kishan'],
    'class':[1,2,3,4]
}
up=pd.DataFrame(li)
print(up)

     name  class
0  Anjali      1
1   Rahul      2
2    Ravi      3
3  Kishan      4

In [21]:
data=[10,20,20,40,9]
series=pd.Series(data)
series

0    10
1    20
2    20
3    40
4     9
dtype: int64

In [23]:
# create a series using a custom index/label
data=[10,20,30,40,12,80]
i=['a','b','c','d','e','f']
series=pd.Series(data, index=i)
print(series)

a    10
b    20
c    30
d    40
e    12
f    80
dtype: int64

In [25]:
# create pandas series using dictionary
data={'a':10,'b':20,'c':30 ,'d':40 }
series=pd.Series(data)
print(series)

a    10
b    20
c    30
d    40
dtype: int64

In [33]:
# pandas dataframe
hi={'Name': [ 'Alice','Bob','Mary','John','Jacob'],
    'Age':[25,30,45,50,55],
    'Country':['India','India','Usa','Usa','Uk']}
df=pd.DataFrame(hi)
print(df)

    Name  Age Country
0  Alice   25   India
1    Bob   30   India
2   Mary   45     Usa
3   John   50     Usa
4  Jacob   55      Uk

In [51]:
#create pandas dataframe from a 2d numpy array
import numpy as np
arr=np.array([[10,5,20],[14,25,6],[7,18,9]])
print(arr)
df=pd.DataFrame(arr)
print(df)

[[10  5 20]
 [14 25  6]
 [ 7 18  9]]
    0   1   2
0  10   5  20
1  14  25   6
2   7  18   9

In [ ]:
stu={
    i=