In [3]:
import pandas as pd
import numpy as np

In [9]:
data = [10, 20, "A", 40, 9.50]
series = pd.Series(data)
print(series)
print(series.dtype)

0     10
1     20
2      A
3     40
4    9.5
dtype: object
object

In [13]:
data = [10, 20, 20, 40, 9]
series = pd.Series(data)
print(series)
print(series.dtype)

0    10
1    20
2    20
3    40
4     9
dtype: int64
int64

In [15]:
data = [10, 20, 20.5, 40, 9.6]
series = pd.Series(data)
print(series)
print(series.dtype)

0    10.0
1    20.0
2    20.5
3    40.0
4     9.6
dtype: float64
float64

In [19]:
data = [10, 20, 30, 40, 15, 50]
i = ['A', 'B', 'C', 'D', 'E', 'F']
series = pd.Series(data, index=i)
print(series)

A    10
B    20
C    30
D    40
E    15
F    50
dtype: int64

In [33]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Mary', 'John'], \
        'Age': [24, 30, 34, 56], \
        'Country': ["USA", "UK", "AUS", "India"]}
i = ['a', 'b', 'c', 'd']
df = pd.DataFrame(data, index=i)
print(df)

    Name  Age Country
a  Alice   24     USA
b    Bob   30      UK
c   Mary   34     AUS
d   John   56   India

In [37]:
import numpy as np
array = np.array([[10,5,20], [14,25,6], [7,18,29]])
print(array)
df = pd.DataFrame(array)
print(df)

[[10  5 20]
 [14 25  6]
 [ 7 18 29]]
    0   1   2
0  10   5  20
1  14  25   6
2   7  18  29

In [39]:
data = [[78, 9.8], [82, 9.1], [93, 9.8], [75, 7.6]]
index = ['Sem1' , 'Sem2', 'Sem3', 'Sem4']
df = pd.DataFrame(data, index=i, columns=["Attenence","Cgpa"])
print(df)

   Attenence  Cgpa
a         78   9.8
b         82   9.1
c         93   9.8
d         75   7.6

In [43]:
iris_df = pd.read_csv("iris.csv")
print(iris_df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [45]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [47]:
iris_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [49]:
iris_df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [51]:
print(iris_df.shape)
print(iris_df.ndim)
print(iris_df.size)

(150, 5)
2
750

In [53]:
iris_array = np.array(iris_df)
iris_array

array([[5.1, 3.5, 1.4, 0.2, 'Setosa'],
       [4.9, 3.0, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.3, 0.2, 'Setosa'],
       [4.6, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.6, 1.4, 0.2, 'Setosa'],
       [5.4, 3.9, 1.7, 0.4, 'Setosa'],
       [4.6, 3.4, 1.4, 0.3, 'Setosa'],
       [5.0, 3.4, 1.5, 0.2, 'Setosa'],
       [4.4, 2.9, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.1, 'Setosa'],
       [5.4, 3.7, 1.5, 0.2, 'Setosa'],
       [4.8, 3.4, 1.6, 0.2, 'Setosa'],
       [4.8, 3.0, 1.4, 0.1, 'Setosa'],
       [4.3, 3.0, 1.1, 0.1, 'Setosa'],
       [5.8, 4.0, 1.2, 0.2, 'Setosa'],
       [5.7, 4.4, 1.5, 0.4, 'Setosa'],
       [5.4, 3.9, 1.3, 0.4, 'Setosa'],
       [5.1, 3.5, 1.4, 0.3, 'Setosa'],
       [5.7, 3.8, 1.7, 0.3, 'Setosa'],
       [5.1, 3.8, 1.5, 0.3, 'Setosa'],
       [5.4, 3.4, 1.7, 0.2, 'Setosa'],
       [5.1, 3.7, 1.5, 0.4, 'Setosa'],
       [4.6, 3.6, 1.0, 0.2, 'Setosa'],
       [5.1, 3.3, 1.7, 0.5, 'Setosa'],
       [4.8, 3.4, 1.9, 0.2, 'Setosa'],
       [5.0, 3.0, 1.6, 0.2, 'Setosa'],
       [5.0, 3.4, 1.6, 0.4, 'Setosa'],
       [5.2, 3.5, 1.5, 0.2, 'Setosa'],
       [5.2, 3.4, 1.4, 0.2, 'Setosa'],
       [4.7, 3.2, 1.6, 0.2, 'Setosa'],
       [4.8, 3.1, 1.6, 0.2, 'Setosa'],
       [5.4, 3.4, 1.5, 0.4, 'Setosa'],
       [5.2, 4.1, 1.5, 0.1, 'Setosa'],
       [5.5, 4.2, 1.4, 0.2, 'Setosa'],
       [4.9, 3.1, 1.5, 0.2, 'Setosa'],
       [5.0, 3.2, 1.2, 0.2, 'Setosa'],
       [5.5, 3.5, 1.3, 0.2, 'Setosa'],
       [4.9, 3.6, 1.4, 0.1, 'Setosa'],
       [4.4, 3.0, 1.3, 0.2, 'Setosa'],
       [5.1, 3.4, 1.5, 0.2, 'Setosa'],
       [5.0, 3.5, 1.3, 0.3, 'Setosa'],
       [4.5, 2.3, 1.3, 0.3, 'Setosa'],
       [4.4, 3.2, 1.3, 0.2, 'Setosa'],
       [5.0, 3.5, 1.6, 0.6, 'Setosa'],
       [5.1, 3.8, 1.9, 0.4, 'Setosa'],
       [4.8, 3.0, 1.4, 0.3, 'Setosa'],
       [5.1, 3.8, 1.6, 0.2, 'Setosa'],
       [4.6, 3.2, 1.4, 0.2, 'Setosa'],
       [5.3, 3.7, 1.5, 0.2, 'Setosa'],
       [5.0, 3.3, 1.4, 0.2, 'Setosa'],
       [7.0, 3.2, 4.7, 1.4, 'Versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'Versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'Versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'Versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'Versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'Versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'Versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'Versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'Versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'Versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'Versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'Versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'Versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'Versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'Versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'Versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'Versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'Versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'Versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'Versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'Versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'Versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'Versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'Versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'Versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'Versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'Versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'Versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'Versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'Versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'Versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'Versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'Versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'Versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'Versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'Versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'Versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'Versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'Versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'Versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'Versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'Versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'Versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'Versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'Versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'Versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'Versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'Versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'Versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'Versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [7.1, 3.0, 5.9, 2.1, 'Virginica'],
       [6.3, 2.9, 5.6, 1.8, 'Virginica'],
       [6.5, 3.0, 5.8, 2.2, 'Virginica'],
       [7.6, 3.0, 6.6, 2.1, 'Virginica'],
       [4.9, 2.5, 4.5, 1.7, 'Virginica'],
       [7.3, 2.9, 6.3, 1.8, 'Virginica'],
       [6.7, 2.5, 5.8, 1.8, 'Virginica'],
       [7.2, 3.6, 6.1, 2.5, 'Virginica'],
       [6.5, 3.2, 5.1, 2.0, 'Virginica'],
       [6.4, 2.7, 5.3, 1.9, 'Virginica'],
       [6.8, 3.0, 5.5, 2.1, 'Virginica'],
       [5.7, 2.5, 5.0, 2.0, 'Virginica'],
       [5.8, 2.8, 5.1, 2.4, 'Virginica'],
       [6.4, 3.2, 5.3, 2.3, 'Virginica'],
       [6.5, 3.0, 5.5, 1.8, 'Virginica'],
       [7.7, 3.8, 6.7, 2.2, 'Virginica'],
       [7.7, 2.6, 6.9, 2.3, 'Virginica'],
       [6.0, 2.2, 5.0, 1.5, 'Virginica'],
       [6.9, 3.2, 5.7, 2.3, 'Virginica'],
       [5.6, 2.8, 4.9, 2.0, 'Virginica'],
       [7.7, 2.8, 6.7, 2.0, 'Virginica'],
       [6.3, 2.7, 4.9, 1.8, 'Virginica'],
       [6.7, 3.3, 5.7, 2.1, 'Virginica'],
       [7.2, 3.2, 6.0, 1.8, 'Virginica'],
       [6.2, 2.8, 4.8, 1.8, 'Virginica'],
       [6.1, 3.0, 4.9, 1.8, 'Virginica'],
       [6.4, 2.8, 5.6, 2.1, 'Virginica'],
       [7.2, 3.0, 5.8, 1.6, 'Virginica'],
       [7.4, 2.8, 6.1, 1.9, 'Virginica'],
       [7.9, 3.8, 6.4, 2.0, 'Virginica'],
       [6.4, 2.8, 5.6, 2.2, 'Virginica'],
       [6.3, 2.8, 5.1, 1.5, 'Virginica'],
       [6.1, 2.6, 5.6, 1.4, 'Virginica'],
       [7.7, 3.0, 6.1, 2.3, 'Virginica'],
       [6.3, 3.4, 5.6, 2.4, 'Virginica'],
       [6.4, 3.1, 5.5, 1.8, 'Virginica'],
       [6.0, 3.0, 4.8, 1.8, 'Virginica'],
       [6.9, 3.1, 5.4, 2.1, 'Virginica'],
       [6.7, 3.1, 5.6, 2.4, 'Virginica'],
       [6.9, 3.1, 5.1, 2.3, 'Virginica'],
       [5.8, 2.7, 5.1, 1.9, 'Virginica'],
       [6.8, 3.2, 5.9, 2.3, 'Virginica'],
       [6.7, 3.3, 5.7, 2.5, 'Virginica'],
       [6.7, 3.0, 5.2, 2.3, 'Virginica'],
       [6.3, 2.5, 5.0, 1.9, 'Virginica'],
       [6.5, 3.0, 5.2, 2.0, 'Virginica'],
       [6.2, 3.4, 5.4, 2.3, 'Virginica'],
       [5.9, 3.0, 5.1, 1.8, 'Virginica']], dtype=object)